{% extends 'users/layout.html' %}

{% block content %}
	<div class = "margin-hor-40 row">
		<div class = "col s12 m12 l7">
			<form method = "POST">
				{% csrf_token %}
				{% for field in form %}
					<div class = "field">
						{% if field.errors %}
							<p class = "field-error red-text">{{ field.errors|first }}</p>
						{% endif %}
						{% if field.help_text %}
							<div class = "help">{{ field.help_text }}</div>
						{% endif %}
						{{ field.label_tag }}
						{{ field }}
					</div>
				{% endfor %}
				<br>
				<button class = "btn" type = "submit">Log in</button>
			</form>
		</div>
	
		<br>
		<br>
		<div class = "col s12 m12 l4 right">
			<p>Don't have an account?</p>
			<a href = "{% url 'users:register' %}" class = "btn-small">Register</a>
		</div>
	</div>
{% endblock %}