{% extends 'users/layout.html' %}
{% load static %}

{% block head %}
	{{ block.super }}
	<script src = "{% static 'js/show_button.js' %}"></script>
{% endblock %}

{% block content %}
	<div class = "container">
		<div class = "main-info row">
			<img src = "{{ profile.image.url }}" class = "col s12 m4 l3 z-depth-2" id = "user-icon">
			<div class = "col s12 m1 l2"></div>
			<div class = "account_info col s12 m7 l7">
				<p id = "username" class = "">{{ profile.user.username }}</p>
			</div>
		</div>
		<br>
		{% if is_profile_owner %}
			<button class = "btn-small" id = "show-button">Change settings</button>
			<div class = "hidden-content">
				<form method = "POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{ update_form.as_p }}
					<button class = "btn" type = "submit">Update</button>
				</form>
				<br>
				<button class = "btn-small" id = "hide-button">Close</button>
			</div>
		{% endif %}
		<br>
		<p>Recent reviews</p>
	</div>
	<div class = "items-tab">
		{% for review in reviews %}
			<div class = "item-tab review indigo darken-1 z-depth-1">
				<div class = "valign-wrapper">
					<p id = "review-stars">
					{% for _ in ''|center:review.rating %}
						<img src = "{% static 'images/star_filled.png' %}">
					{% endfor %}
					</p>
					<p id = "review-title" class = "truncate">{{ review.title }}</p>
				</div>
				<a href = "{% url 'store:detail' review.game.pk %}" class = "truncate">Reviewed {{ review.game.name }}</a>
				<p id = "review-desc" class = "truncate">{{ review.description }}</p>
			</div>
		{% endfor %}
    </div>
    

{% endblock %}