* {
	color: #ddd;
}

@font-face {
        font-family: "NavbarFont";
        src: url("../fonts/American Captain.ttf");
}

img {
	image-rendering: pixelated;
}

#navbar {
	color: #ddd;
}

#navbar * {
	font-family: "NavbarFont";
	color: #ddd;
}

#navbar a {
	text-decoration: none;
	font-size: 2em;
	margin: 0 7.5px;
}

.content {
	width: 85%;
	height: auto;
	margin: 0 auto;
}

.items-tab {
	width: auto;
	overflow-x: auto;
	white-space: nowrap;
	padding: 10px 0;
	background-color: #303f9f;
}


.items-tab .item-tab {
	height: 150px;
	max-width: 250px;
	margin: 0 5px;
	display: inline-block;
}

.game-image {
	width: 100%;
}


#user-icon {
	border-radius: 5%;
	padding: 2px;
}


/*==============================
		MATERIALIZE FIXINGS
================================*/
.parallax-container {
	z-index: 0;
}


.container {
	width: 90%;
	padding-top: 20px;
}

.btn, .btn-small {
	background-color: #7c4dff ;
}

.btn:hover, .btn-small:hover {
	background-color: #b388ff;
}


.btn:focus, .btn-small:focus {
	background-color: #6200ea;
}
/*================================
		DROPDOWN MENU
==================================*/
.dropdown-content {
	font-size: 0.6em;
	overflow-x: hidden;
}


.dropdown-content li a {
	padding: 0px;
	height: 100%;
}

/*===============================
	HELPER MARGINS AND PADDINGS
================================*/

.margin-vert-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.margin-vert-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.margin-vert-80 {
	margin-top: 80px;
	margin-bottom: 80px;
}

.margin-hor-20 {
	margin-left: 20px;
	margin-right: 20px;
}

.margin-hor-40 {
	margin-left: 40px;
	margin-right: 40px;
}

.padding-vert-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-vert-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.padding-vert-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}


.padding-hor-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.padding-hor-40 {
	padding-left: 40px;
	padding-right: 40px;
}



/*===============================
	MESSAGE TYPE COLORS
================================*/

.error {
	background-color: #ad1457;
}

.warning {
	background-color: #ffcc80;
}

.success {
	background-color: #448aff;
}
