.game-title {
	text-align: center;
}

.game-image {
	width: 100%;
}

.carousel {
	width: 50%;
	margin: 0 auto;
}

#description-box {
	padding: 5px 0;	
}

#description-box p {
	margin: 15px;
}

.parallax-container {
	height: 400px;
}

.parallax img {
	width: 200px;
}

.tabs {
	height: 20vh;
}

.tab img {
	height: 100%;
}

#game-tag:hover {
	background-color: #536dfe;
}

#game-store-box {
	vertical-align: top;
}


#description-box {
	margin-bottom: 50px;
}

#game-store-box {
	padding-bottom: 20px;
	margin-bottom: 20px;
}