
.help {
	background-color: #607d8b;
	border: 2px solid #455a64;
	border-radius: 10px;
	padding: 10px 15px;
	margin-top: 5px;
	display: none;
}

#username {
	font-size: 3em;
	margin: 0;
}


.review {
	min-width: 200px;
	max-width: 300px;
	border: 2px solid #283593;
	border-radius: 4px;
	padding: 10px;
	display: inline-block;
}

.review * {
	margin: 0;
}

#review-stars {
	display: inline-block;
	width: 100px;
}

#review-title {
	font-size: 1.5em;
	display: inline-block;
	max-width: 150px;
}

#review-desc {
	white-space: normal;
	height: 70px;
}


.game-tabs {
	height: 400px;
	width: auto;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 10px 0;
	background-color: #303f9f;
}


.game-tabs .game-tab-container {
	width: 300px;
	height: 400px;
	margin: 0px 5px 10px 5px;
	padding: 0px 10px;
	display: inline-block;
}

.game-tab-container .game-tab {
	height: 180px;
	width: 100%;
	margin: 5px 0;
	padding: 5px 10px;
}

.game-tabs #game-title {
	height: 20%;
	margin: 0;
}

.game-tabs #game-thumbnail {
	max-width: 250px;
	height: 100%;
	width: auto;
	margin: 0 auto;
	height: 80%;
	display: block;
}
