{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Game Store</title>
	<link rel = "stylesheet" href = "{% static 'css/normalize.css' %}">
	<link rel = "stylesheet" href = "{% static 'css/materialize.min.css' %}">
	<link rel = "stylesheet" href = "{% static 'css/main.css' %}">

	<script src = "{% static 'js/materialize.min.js' %}"></script>
	{% block head %}

	{% endblock %}
</head>

<body>
	<div id = "navbar" class = "section">
		<div class = "row">
			<div class = "col s4 left-align">
				<a href = ""><img src = ""></a>
				<a href = "{% url 'store:index' %}">Store</a>
				<a href = "">Help</a>
			</div>
			<div class = "col s4 center-align circle">
				<img src = "{% static 'images/store_icon.png' %}">
			</div>
			<div class = "col s4 right-align">
				<a href = "">Library</a>
				<a href = "">Profile</a>
			</div>
		</div>
	</div>
	
	<div class = "content">
		{% block content %}

		{% endblock %}
	</div>

	<footer class = "page-footer">
		<div class = "footer-copyright">
			<p> © 2019 Krasimir Georgiev</p>
		</div>
	</footer>
</body>
</html>