{% extends 'store/layout.html' %}
{% load static %}

{% block head %}
	<script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
	<script src = "{% static 'js/markdown_render.js' %}"></script>

	<link rel = "stylesheet", href = "{% static 'css/store.css' %}">
	<script src = "{% static 'js/star_selector.js' %}"></script>

	
	
{% endblock %}

{% block content %}
	<div class = "grey-text text-lighten-3">
		<div class="parallax-container hide-on-med-and-down">
	    	<div class="parallax">
	    		<img src="{{ game.get_thumbnail_url }}">
	    	</div>
	    </div>
	    <img src = "{{ game.get_thumbnail_url }}" class = "game-image hide-on-large-only">
	    
		{% if images %}
			<div class = "indigo darken-2 items-tab">
	      		{% for image in images %}
	      			<div class = "item-tab">
		      			<img src = "{{ image.get_url }}" class = "materialboxed item-tab">
		      		</div>
		        {% endfor %}
		    </div>
	    {% endif %}

		<div class = "row margin-hor-20 margin-vert-80">
			<div id = "description-box" class = "indigo darken-2 z-depth-2 col s12 m6">
				<p>Description:</p>
				<p id = "description-text">{{ game.description }}</p>
			</div>
			<div class = "col s12 m1"></div>
			<div class = "col s12 m5 indigo darken-3 z-depth-3">
				<p id = "title">{{ game.name }}</p>
				<p id = "review-num">Reviews: 10/10</p>
				<p id = "release-date">{{ game.release_date.date }}</p>
				<p id = "developer-link">Developer: <a href = "#to_developer">Developer link here!</a></p>
				{% if tags %}
					<p>Tags:    
						{% for tag in tags %}
							<span id = "game-tag" class = "amber-text">{{ tag.name }}</span>		
						{% endfor %}
					</p>
				{% endif %}

				{% if platforms %}
					<p>Platforms:
						{% for platform in platforms %}
							<span id = "platform"> {{ platform.name }}</span>
						{% endfor %}
					</p>
				{% endif %}
				<br>
				{% if user.is_authenticated %}
					{% if is_owner %}
						<p id = "owned">Already owned</p>
					{% else %}
						<button class = "btn"><a href = "{% url 'store:buy' game_pk=game.pk %}">Buy Game!</a></button>
					{% endif %}
				{% endif %}
			</div>
		</div>

		{% if user.is_authenticated %}
			{% if has_reviewed %}
				
				<div class = "row padding-vert-20 padding-hor-20 indigo darken-2">
					<p class = "center">Your review of the game</p>
					<div class = "col s4 m2">
						<img src = "{{ user.profile.image.url }}" class = "game-image">
						<p>{{ user.username }}</p>
					</div>
					<div class = "col s8 m9">
						<div class = "row valign-wrapper">
							<div class = "col s6 m4 l3">
								{% for _ in ''|center:user_review.rating %}
									<img src = "{% static 'images/star_filled.png' %}">
								{% endfor %}
							</div>
							<div class = "col s6 m8 l9">
								<p id = "review-title" class = "valign-wrapper">{{ user_review.title }}</p>
							</div>
						</div>
						<p>{{ user_review.description }}</p>
					</div>
				</div>
			{% else %}
			<form method = "POST" id = "review-form" class = "row input-field indigo darken-2 margin-hor-20 margin-vert-80 padding-vert-20">
				{% csrf_token %}
				<div class = "col s12 m2 l2">
					<img src = "{{ user.profile.image.url }}" class = "game-image">
					<p>Reviews: {{ user.review_set.count }}</p>
				</div>
				<div class = "col s10 m8 l8">
					<label>Leave a review</label>
					<div class = "row">
						<div class = "col s5 m5 l3">
							<div class = "star_container">
								<img src = "{% static 'images/star_unfilled.png' %}" class = "unfilled-star">
								<img src = "{% static 'images/star_filled.png' %}" class = "filled-star">
							</div>
							<div class = "star_container">
								<img src = "{% static 'images/star_unfilled.png' %}" class = "unfilled-star">
								<img src = "{% static 'images/star_filled.png' %}" class = "filled-star">
							</div>
							<div class = "star_container">
								<img src = "{% static 'images/star_unfilled.png' %}" class = "unfilled-star">
								<img src = "{% static 'images/star_filled.png' %}" class = "filled-star">
							</div>
							<div class = "star_container">
								<img src = "{% static 'images/star_unfilled.png' %}" class = "unfilled-star">
								<img src = "{% static 'images/star_filled.png' %}" class = "filled-star">
							</div>
							<div class = "star_container">
								<img src = "{% static 'images/star_unfilled.png' %}" class = "unfilled-star">
								<img src = "{% static 'images/star_filled.png' %}" class = "filled-star">
							</div>
							
							{{ review_form.rating.errors }}
							{{ review_form.rating }}
						</div>
						<div class = "col s7 m7 l9">
							{{ review_form.title.errors }}
							{{ review_form.title }}
						</div>
					</div>
					{{ review_form.description.errors }}
					{{ review_form.description }}
					<div class = "right-align">
						<button id = "submit-btn" class = "btn" type = "submit" name = "action">Submit</button>
					</div>
	        	</div>
			</form>
			{% endif %}
		{% endif %}

		<br>
		<br>

		<div id = "reviews-list" class = "margin-hor-20">
			{% for review in reviews %}
				<div class = "row padding-vert-20 padding-hor-20 indigo darken-2">
					<div class = "col s4 m2">
						<img src = "{{ review.user.profile.image.url }}" class = "game-image">
						<p>{{ review.user }}</p>
						<p>Review count: {{ review.user.review_set.count }}</p>
						{% if game in review.user.game_set %}
							<p>Owns game</p>
						{% else %}
							<p>Purchase not verified</p>
						{% endif %}
					</div>
					<div class = "col s8 m9">
						<div class = "row valign-wrapper">
							<div class = "col s6 m4 l3">
								{% for _ in ''|center:review.rating %}
									<img src = "{% static 'images/star_filled.png' %}">
								{% endfor %}
							</div>
							<div class = "col s6 m8 l9">
								<p id = "review-title" class = "valign-wrapper">{{ review.title }}</p>
							</div>
						</div>
						<p>{{ review.description }}</p>
					</div>
				</div>

			{% endfor %}
		</div>
	</div>


	<!-- <script src = "{% static 'js/tabs.js' %}"></script> -->
	<script src = "{% static 'js/paralax.js' %}"></script> 
	<script src = "{% static 'js/materialbox.js' %}"></script>
{% endblock %}