{% extends 'store/layout.html' %}
{% load static %}

{% block head %}
	<link rel = "stylesheet", href = "{% static 'css/store.css' %}">

{% endblock %}

{% block content %}
	<div class = "grey-text text-lighten-3">
		<div class="parallax-container">
	    	<div class="parallax">
	    		<img src="{{ game.get_thumbnail_url }}">
	    	</div>
	    </div>
	    
		{% if images %}
			<div class = "indigo darken-2 items-tab">
	      		{% for image in images %}
	      		
	      			<img src = "{{ image.get_url }}" class = "materialboxed item-tab">
		        {% endfor %}
		    </div>
	    {% endif %}

		<div class = "row margin-hor-20 margin-vert-80">
			<div id = "description-box" class = "indigo darken-2 z-depth-2 col s12 m6">
				<p>Description:</p>
				<p id = "description-text">{{ game.description }}</p>
			</div>
			<div class = "col s12 m1"></div>
			<div class = "col s12 m5 indigo darken-3 z-depth-3">
				<p id = "title">{{ game.name }}</p>
				<p id = "review-num">Reviews: 10/10</p>
				<p id = "release-date">{{ game.release_date.date }}</p>
				<p id = "developer-link">Developer: <a href = "#to_developer">Developer link here!</a></p>
				<p>Tags:    
				{% for tag in tags %}
					<a href = "#" id = "game-tag"  class = "amber-text">{{ tag.name }} </a>		
				{% endfor %}
				</p>
			</div>
		</div>

		<div id = "review-form" class = "row input-field indigo darken-2 margin-hor-20 margin-vert-80 padding-vert-20">
			<div class = "col s12 m2 l2">
				<img src = "{% static 'images/user_icon.png' %}" class = "game-image">
				<p>Review count: 0</p>
				<p>Owns the game???</p>
			</div>
			<div class = "col s10 m8 l8">
				<label>Leave a review</label>
				<div class = "row">
					<div class = "col s2">
						<p>*****</p>
					</div>
					<div class = "col s10">
						<input placeholder = "Review title" id="input_text" type="text">
					</div>
				</div>
				<textarea placeholder="10/10" id="review-textarea" class="materialize-textarea"></textarea>
				<div class = "right-align">
					<button id = "submit-btn" class = "btn" type = "submit" name = "action">Submit</button>
					<button id = "cancel-btn" class = "btn">Cancel</button>
				</div>
        	</div>
		</div>

		<div id = "reviews-list" class = "margin-hor-20">
			{% for review in reviews %}
				<div class = "row padding-vert-20 padding-hor-20 indigo darken-2">
					<div class = "col s4 m2">
						<img src = "{% static 'images/user_icon.png' %}" class = "game-image">
						<p>{{ review.user }}</p>
						<p>Review count: 0</p>
						<p>Owns the game???</p>
					</div>
					<div class = "col s8 m8">
						<p>{{ review.rating }} - {{ review.title }}</p>
						<p>{{ review.description }}</p>
					</div>
				</div>

			{% endfor %}
		</div>
	</div>


	<!-- <script src = "{% static 'js/tabs.js' %}"></script> -->
	<script src = "{% static 'js/paralax.js' %}"></script> 
	<script src = "{% static 'js/materialbox.js' %}"></script>
{% endblock %}