{% extends 'store/layout.html' %}
{% load static %}


{% block head %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
	
	<div class = "container">
		<form action = "/store/search/", method = "GET" name = "search-game" id = "search-game">
			<div class = "row padding-vert-20">
				<div class = "col s12 m7 l8">
					<input id = "search-text" type = "text" name = "search-text" placeholder="search games">
					<button type = "submit" class = "align-right btn-small">Search</button>

					{% if games %}
					<div id = "game-list-compact" class = "margin-vert-40">
						{% for game in games %}
							<div id = "game-box-compact">
								<a href = "{% url 'store:detail' game.pk %}">
									<div class = "row">
										<img src = "{{ game.get_thumbnail_url }}" width = 200 class = "col s4 m4 l3">
										<p class = "col s8 m8 l9">{{ game.name }}</p>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
					{% else %}
						<p>No games found!</p>
					{% endif %}
					<br>
					<ul class="pagination center">
						{% if games.has_previous %}
					    	<li><a href="?page=1"><i class="material-icons">chevron_left</i></a></li>
					    	<li class = "waves-effect"><a href="?page={{ games.previous_page_number }}">{{ games.previous_page_number }}</a></li>
					    {% endif %}
					    <li class="active waves-effects"><a href="">{{ games.number }}</a></li>
					    {% if games.has_next %}
						    <li class="waves-effect"><a href="?page={{ games.next_page_number }}">{{ games.next_page_number }}</a></li>
						    <li><a href="?page={{ games.paginator.num_pages }}"><i class="material-icons">chevron_right</i></a></li>
					    {% endif %}
					</ul>
				</div>
				<div class = "col s1"></div>
				<div class = "col s12 m4 l3">
					{% for tag in tags %}
						<p>
							<label>
						    	<input type="checkbox" name = "tags[]" value = "{{ tag.id }}"/>
						    	<span>{{ tag }}</span>
						    </label>
						</p>	
					{% endfor %}
				</div>
			</div>
		</form>
	</div>
{% endblock %}